/* Estilos gerais */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #e2e2e9;
  margin: 0;
  font-weight: bold;
  padding: 0;
  color: #333;
}

/* Estilo principal da aplicação */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

/* Estilo do slide */
.slide {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  padding: 40px;
  max-width: 900px;
  width: 100%;
  text-align: center;
  animation: fadeIn 0.5s ease;
  position: relative;
}

/* Estilo do título */
.slide h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 25px;
  color: #1d3557;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #457b9d, #1d3557);
  -webkit-background-clip: text;
  color: transparent;
}

.slide img {
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

/* Estilo da imagem */
.slide-image {
  width: 300px;
  height: 500px;
  object-fit: cover;
}

.background-image {
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;

  width: 100%; /* Imagem ocupa 100% da largura do contêiner */
  max-height: 100%; /* Imagem ocupa 100% da altura do contêiner */
  object-fit: cover; /* Garante que a imagem preencha o espaço */
  opacity: 0.2; /* Define a opacidade da imagem (0 a 1) */
  position: absolute; /* Posiciona a imagem em relação ao contêiner */
  top: 0; /* Alinha ao topo */
  left: 0; /* Alinha à esquerda */
  z-index: 1; /* Define a camada da imagem */
}

.text-overlay {
  position: relative; /* Permite que o texto seja posicionado acima da imagem */
  color: white; /* Cor do texto (ajuste conforme necessário) */
  z-index: 2; /* Define a camada do texto acima da imagem */
  padding: 20px; /* Espaçamento do texto */
}

.slide img:hover {
  transform: scale(1.05);
}

/* Estilo do conteúdo */
.slide p {
  font-size: 1.4rem;
  color: #555;
  text-align: left;
  font-weight: bold;
  white-space: pre-wrap;
  line-height: 1.8;
  margin-bottom: 30px;
}

.slide p span {
  color: #457b9d;
  font-weight: bold;
  font-style: italic;
}

/* Navegação */
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.navigation .nav-button {
  background-color: #457b9d;
  color: #ffffff;
  border: none;
  padding: 12px 24px;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.navigation .nav-button:hover {
  background-color: #1d3557;
  transform: translateY(-2px);
}

.navigation .nav-indicator {
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
